.container, table#version_numbers {
    min-width: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#version_numbers {
    text-align: center;
}

.message {
    text-align: center;
}

#betas {
    display: none;
    width: 50%;
    margin: 1em auto;
    text-align: center;
}

#betas ul {
    display: flex;
    padding: 0;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#betas ul li {
    background-color: white;
    padding: 0 4px;
    margin: 4px;
    border: 1px solid darkgray;
}

.list-group-item {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.list-group-item a {
    display: inline-block;
    min-width:  90%;
}

#store .card-header {
    font-size: x-large
}

#store .table {
    text-align: start;
}

.table > :not(caption) > * > * {
    padding: 0.4rem 0.8rem;
}

#store .mobile,
#store .mobile > th,
#store .mobile > td {
    background-color: rgb(253, 241, 237);
}

#store .laptop,
#store .laptop > th,
#store .laptop > td {
    background-color: rgb(248, 249, 255);
}

#store .legend {
    left: 2em;
    top: 2em;
}

#store sup {
    display: block;
    margin-top: 1em;
    line-height: 1.5em;
    font-style: normal !important;
    font-size: small !important;
}

#store small {
    font-size: 8px !important;
    font-weight: 600;
    padding: 1px 2px;
    margin-left: 0.5em;
    vertical-align: super;
    font-family: monospace;
}



@media only screen and (max-width: 460px) {
    .container {
        flex-direction: column;
        padding: 0.1rem;
    }

    .legend {
        margin-top: 1em;
        position: inherit !important;
    }

    div .m-auto {
        margin-top: 1em !important;
    }

    .w-50 {
        width: auto !important;
    }

    .table > :not(caption) > * > * {
        padding: 0.4rem 0.2rem;
    }
}